@media(max-width: 1120px) {
    nav {
        padding: 24px 70px;
    }

    .logo {
        font-size: 24px;
    }

    .menu {
        font-size: 14px;
    }

    .home {
        gap: 60px;
    }

    .home-conteudo {
        padding: 10px;
        gap: 8px;
    }

    .destaque {
        font-size: 14px;
    }

    .home h1 {
        font-size: 43px;
    }

    .home-subtitulo {
        font-size: 20px;
    }

    .btn-container {
        padding-left: 50px;
    }

    .avaliacao-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-nota {
        font-size: 14px;
    }
}

@media(max-width: 700px) {
    nav {
        padding: 10px 30px;
    }

    .logo {
        font-size: 16px;
    }

    .menu {
        font-size: 10px;
        gap: 10px;
    }

    .github {
        font-size: 12px;
    }

    .home .destaque {
        font-size: 12px;
    }

    .home h1 {
        font-size: 30px;
    }

    .home-subtitulo {
        font-size: 16px;
    }

    .imagem-container {
        column-count: 3;
    }

    .avaliacao-titulo {
        font-size: 20px;
    }

    .avaliacao-subtitulo {
        font-size: 16px;
    }

    .capa-vincenzo {
        width: 140px;
    }

    .capa-tomorrow {
        width: 120px;
    }

    .capa-nine {
        width: 140px;
    }

    .capa-marry {
        width: 140px;
    }

    .card-nota {
        font-size: 14px;
    }

    footer {
        padding: 30px;
    }
}

@media(max-width: 425px) {
    nav {
        padding: 10px;
    }

    .logo {
        font-size: 12px;
    }

    .menu {
        font-size: 7px;
    }

    .github {
        font-size: 10px;
    }

    .home {
        padding: 0 10px;
    }

    .home {
        gap: 30px;
    }

    .imagem-container {
        column-count: 2;
    }

    .capa-vincenzo {
        width: 100px;
    }

    .capa-tomorrow {
        width: 100px;
    }

    .capa-nine {
        width: 100px;
    }

    .capa-marry {
        width: 100px;
    }
}